/*****  Country CSS  *****/

.Container {
  margin: 0rem 6rem;
  /* Since Header is fixed posititon */
  margin-top: 5.5rem;
}

.Back-btn {
  margin: 3rem 0;
  padding: 1.5rem 5rem;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 0.6rem;
  cursor: pointer;
  background-color: var(--headerBColor);
  box-shadow: var(--boxShadow);
}

.Back-btn i {
  margin-right: 1rem;
}

.Country {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 2rem;
}

.Img-container {
  width: 40rem;
  height: 30rem;
  margin-right: 6rem;
  box-shadow: var(--boxShadow);
}

.Country img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Text-container {
  flex: 1;
}

.Text-container h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 0.5rem 0;
}

.Text-container p {
  font-size: 1.3rem;
  padding-bottom: 1.2rem;
  font-weight: 100;
}

.Text-container strong {
  font-size: 1.4rem;
  font-weight: 600;
}

.Country-text {
  display: flex;
  flex-wrap: wrap;
}

.left-text {
  flex: 1;
}

.right-text {
  flex: 1;
}

.Border-btn {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 1.1rem;
  background-color: var(--headerBColor);
  box-shadow: var(--boxShadow);
}

/************************/
