.Filter {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.3rem;
}

.Search {
  padding: 2rem;
  border-radius: 0.6rem;
  background-color: #2b3945;
  box-shadow: 1px 10px 10px 5px rgb(29, 40, 50, 0.7),
    -1px -10px 10px 5px rgb(29, 40, 50, 0.7);
}

input[type='text'] {
  padding-left: 1rem;
  width: 550px;
  background-color: #2b3945;
  appearance: none;
  outline: none;
}

input::placeholder {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

select {
  /* A reset of styles, including removing the default dropdown arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  padding: 2rem;
  width: 250px;
  background-color: #2b3945;
  border-radius: 0.6rem;
  cursor: pointer;
}

.select {
  position: relative;
  border-radius: 0.6rem;
  cursor: pointer;
  background-color: #2b3945;
  box-shadow: 1px 10px 10px 5px rgb(29, 40, 50, 0.7),
    -1px -10px 10px 5px rgb(29, 40, 50, 0.7);
}

.select:after {
  /* for using font awesome icon */
  content: '\f0d7';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  pointer-events: none;
}
