.Home {
  margin: 0 auto;
  max-width: 110rem;
}

/*****  Header CSS  *****/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--headerBColor);
  box-shadow: var(--boxShadow);
  z-index: 2;
}

.Header {
  padding: 1.8rem;
  margin: 0 auto;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 900;
  max-width: 110rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

/************************/

/*****  Filter CSS  *****/
.Filter {
  /* Since Header is fixed posititon(added extra 5.5rem to the margin */
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.3rem;
}

.Search {
  padding: 2rem;
  border-radius: 0.6rem;
  background-color: var(--headerBColor);
  box-shadow: var(--boxShadow);
}

input[type='text'] {
  padding-left: 1rem;
  width: 550px;
  background-color: var(--headerBColor);
  appearance: none;
  outline: none;
}

input::placeholder {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

select {
  /* A reset of styles, including removing the default dropdown arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  padding: 2rem;
  width: 250px;
  background-color: var(--headerBColor);
  border-radius: 0.6rem;
  cursor: pointer;
}

.select {
  position: relative;
  border-radius: 0.6rem;
  cursor: pointer;
  background-color: var(--headerBColor);
  box-shadow: var(--boxShadow);
}

.select:after {
  /* for using font awesome icon */
  content: '\f0d7';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  pointer-events: none;
}
/************************/

/*****  Countries, Card CSS  *****/
.Countries {
  padding-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  /* space between each card */
  gap: 6rem;
}

.Countries:last-child {
  margin-bottom: 6rem;
}

.Card {
  width: 23rem;
  height: 28rem;
  font-size: 1.1rem;
  background-color: var(--headerBColor);
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: var(--boxShadow);
  opacity: 0.9;
  transition: 0.1s ease-in;
  text-align: center;
}

.Card:hover {
  scale: 1.05;
  opacity: 1;
}

.Card-img-container {
  height: 14rem;
}

.Card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Card-text {
  padding: 2rem 1.3rem 3rem;
}

.Card-text h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

.Card-text p strong {
  font-weight: 600;
}
/************************/
